.hero {
  min-height: 40vh;
  min-height: 40dvh;
  background-color: var(--on-surface);
  color: var(--accent);

  padding: var(--padding-s);

  display: flex;
  flex-direction: column;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("img/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  a {
    color: var(--accent);
    font-weight: bolder;
    margin-top: auto;
    text-decoration: none;
    text-transform: uppercase;
  }
}
