@import "resets.less";
@import "variables.less";
@import "header.less";

html {
  background-color: var(--surface);
  font-family: var(--font-family-default);
  font-size: 18px;
  line-height: 1.6;
  width: 100%;
}

body {
  min-height: 100%;
  padding-bottom: env(safe-area-inset-bottom);
  width: 100%;
}
