@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: .3s;
  animation-timing-function: ease;
}

::view-transition-group(*) {
  animation-duration: .3s;
  animation-timing-function: ease;
}