@color-black: hsl(0, 0%, 0%);
@color-pink-dim: hsl(320deg 48% 53%);
@color-pink: hsl(320, 100%, 70%);
@color-yellow: hsl(60, 100%, 60%);

@font-family-default:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

:root {
  --surface: @color-pink;
  --on-surface: @color-black;
  --accent: @color-yellow;
  --font-family-default: @font-family-default;

  --hero-min-height: 40vh;
  --footer-height: 52px;

  --hero-font-size-big: 36px;
  --hero-font-size-small: 18px;

  --icon-height-visible: 20px;
  --icon-button-height: 36px;
  --icon-button-border-radius: 4px;
  --icon-button-min-width: 36px;

  --padding-s: 8px;
  --padding-m: 16px;

  @media (min-width: 600px) {
    --hero-min-height: 50vh;
    --footer-height: 68px;

  --hero-font-size-big: 44px;
  --hero-font-size-small: 22px;

    --icon-height-visible: 24px;
    --icon-button-height: 44px;
    --icon-button-min-width: 44px;

    --padding-s: 12px;
    --padding-m: 24px;
  }
  @media (min-width: 840px) {
    --hero-min-height: 60vh;
    --footer-height: 84px;

  --hero-font-size-big: 52px;
  --hero-font-size-small: 26px;

    --icon-height-visible: 28px;
    --icon-button-height: 52px;
    --icon-button-min-width: 52px;

    --padding-s: 16px;
    --padding-m: 32px;
  }
  @media (min-width: 1200px) {
    --footer-height: 100px;
  --hero-font-size-big: 60px;
  --hero-font-size-small: 30px;

    --icon-height-visible: 32px;
    --icon-button-height: 60px;
    --icon-button-min-width: 60px;
    --padding-s: 20px;
    --padding-m: 40px;
  }
  @media (min-width: 1600px) {
    --padding-s: 24px;
    --padding-m: 48px;
  }
}
