@color-black: hsl(0, 0%, 0%);
@color-pink-dim: hsl(320deg 48% 53%);
@color-pink: hsl(320, 100%, 70%);
@color-yellow: hsl(60, 100%, 60%);

@font-family-default:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

  
:root {
  --surface: @color-pink;
  --on-surface: @color-black;
  --accent: @color-yellow;
  --font-family-default: @font-family-default;


  --icon-height-visible: 20px;
  --icon-button-height: 36px;
  --icon-button-min-width: 36px;

  --padding-s: 9px;
  --padding-m: 18px;
}
